<section class="container-fluid img-section">
  <img src="../../../assets/images/1024x0768.png" class="img-responsive header-img">
</section>
<section class="container second-section text-center">
  <div>
    <span class="header-text" translate>who</span>
  </div>
  <div class="paragraph">
    <p translate>whoOne</p>
    <p translate>whoTwo</p>
    <p translate>whoThree</p>
    <span translate>whoThreePlus</span>
    <p translate>whoFour</p>
    <p translate>whoFive</p>
    <p translate>whoSix</p>
    <p translate>whoSeven</p>
    <p translate>whoEight</p>
    <p translate>whoNine</p>
    <p translate>whoTen</p>
  </div>
</section>
<hr>
<section class="container third-section text-center">
  <div>
    <span class="header-text" translate>vision</span>
  </div>
  <div class="paragraph">
    <p translate>visionOne</p>
    <p translate>visionTwo</p>
    <p translate>visionThree</p>
    <p translate>visionFour</p>
    <p translate>visionFive</p>
    <p translate>visionSix</p>
  </div>
</section>
<hr>
<section class="container third-section text-center">
  <div>
    <span class="header-text" translate>mission</span>
  </div>
  <div class="paragraph">
    <p translate>missionOne</p>
    <p translate>missionTwo</p>
    <p translate>missionThree</p>
  </div>
</section>
<hr>
<section class="container second-section text-center">
  <div>
    <span class="header-text" translate>strat</span>
  </div>
  <div class="paragraph">
    <p translate>stratOne</p>
    <p translate>stratTwo</p>
    <p translate>stratThree</p>
    <p translate>stratFour</p>
    <p translate>stratFive</p>
    <p translate>stratSix</p>
    <p translate>stratSeven</p>
    <p translate>stratEight</p>
  </div>
</section>
<hr>
<section class="container third-section text-center">
  <div>
    <span class="header-text" translate>grow</span>
  </div>
  <div class="paragraph">
    <p translate>growOne</p>
    <p translate>growTwo</p>
    <p translate>growThree</p>
  </div>
  <ul id="ul-list-two" class="list">
    <li translate>growItemOne</li>
    <li translate>growItemTwo</li>
    <li translate>growItemThree</li>
  </ul>
</section>
<hr>
<section class="container second-section text-center">
  <div>
    <span class="header-text" translate>value</span>
  </div>
  <div class="paragraph">
    <p translate>valueOne</p>
    <p translate>valueTwo</p>
    <p translate>valueThree</p>
    <p translate>valueFour</p>
    <p translate>valueFive</p>
    <p translate>valueSix</p>
    <p translate>valueSeven</p>
    <p translate>valueEight</p>
    <p translate>valueNine</p>
    <p translate>valueTen</p>
    <p translate>valueEleven</p>
    <p translate>valueTwelve</p>
  </div>
</section>
<hr>
<section class="container second-section text-center">
  <div>
    <span class="header-text" translate>team</span>
  </div>
  <div class="paragraph">
    <p translate>teamOne</p>
    <p translate>teamTwo</p>
    <p translate>teamThree</p>
    <p translate>teamFour</p>
    <p translate>teamFive</p>
  </div>
</section>