span.header-text {
    font-size: 25px;
    color: #d51a8a;
    font-weight: 600;
}
.paragraph {
    margin-top: 2em;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #d21b8c9c;
    box-shadow: 0px 0px 5px black;
    
}
.list{
    text-align: left;
    list-style-position: inside;
    list-style: black;
}
img.header-img {
    height: 432px;
    width: 100%;
}