<nav class="navbar navStyle navbar-fixed-top" id="nav-style">
  <div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div  id="nav-header">
    <button type="button" id="nav-btn" class="navBtnStyle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img alt="Brand" id="logo-nav" class="img-responsive logoStyle" src="../assets/images/Capital-Logo33.png" >
    </a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" *ngIf="toEn && !toAr">
          <li><a [routerLink]="['/homepage']" routerLinkActive="active current" class=" navLink"  translate>Home</a></li>
          <li><a [routerLink]="['/products',auto]" routerLinkActive="active current" class="navLink"  translate>Products</a></li>
          <li><a href="#" class=" navLink"  translate>News</a></li>
          <li><a href="#" class=" navLink"  translate>About</a></li>
          <li><a href="#" class=" navLink"  translate>Contact</a></li>
          <li>
            <button *ngIf="toAr && !toEn" class="btn btn-link" (click)="switchLanguageEn('en')"><img src="../assets/images/321269.png" class="flagStyle img-responsive flag"></button>
            <button *ngIf="toEn && !toAr" class="btn btn-link" (click)="switchLanguageAr('ar')"><img src="../assets/images/321226.png" class="flagStyle img-responsive flag"></button>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="toAr && !toEn && !mobile">
            <li><a href="#" class=" navLink"  translate >Contact</a></li>
            <li><a href="#" class=" navLink"  translate >About</a></li>
            <li><a href="#" class=" navLink"  translate >News</a></li>
            <li><a [routerLink]="['/products',auto]" routerLinkActive="active current" class=" navLink"  translate >Products</a></li>
            <li class="active"><a [routerLink]="['/homepage']" routerLinkActive="active current" class=" navLink"  translate>Home <span class="sr-only">(current)</span></a></li>
            <li>
              <button *ngIf="toAr && !toEn" class="btn btn-link" (click)="switchLanguageEn('en')"><img src="../assets/images/321269.png" class="flagStyle img-responsive flag"></button>
              <button *ngIf="toEn && !toAr" class="btn btn-link" (click)="switchLanguageAr('ar')"><img src="../assets/images/321226.png" class="flagStyle img-responsive flag"></button>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" *ngIf="!toEn && toAr && mobile">
            <li class="active"><a [routerLink]="['/homepage']" routerLinkActive="active current" class=" navLink"  translate>Home <span class="sr-only">(current)</span></a></li>
            <li><a [routerLink]="['/products',auto]" routerLinkActive="active current" class="navLink"  translate>Products</a></li>
            <li><a href="#" class=" navLink"  translate>News</a></li>
            <li><a href="#" class=" navLink"  translate>About</a></li>
            <li><a href="#" class=" navLink"  translate>Contact</a></li>
            <li>
              <button *ngIf="toAr && !toEn" class="btn btn-link" (click)="switchLanguageEn('en')"><img src="../assets/images/321269.png" class="flagStyle img-responsive flag"></button>
              <button *ngIf="toEn && !toAr" class="btn btn-link" (click)="switchLanguageAr('ar')"><img src="../assets/images/321226.png" class="flagStyle img-responsive flag"></button>
            </li>
          </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<router-outlet></router-outlet>
<!--............................footer section ...........-->

<footer class="footer-sec container-fluid text-center">
        <hr>
  <div class="row footer-row">
      <div class="col-md-4 col-sm-4 col-xs-4 footer-col">
          <a class="footer-logo" href="#">
              <img alt="Brand" class="logo-img-footerng " src="../assets/images/Capital-Logo33.png" width="100" height="50">
          </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 footer-col">
          <div class="row social-row">
              <div class="col-md-4 col-sm-4 col-xs-4" >
                  <a href="#">
                      <img src="../../../assets/images/facebook-sketched-social-letter-logo-outline (1).png" class="social-icon">
                  </a>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                  <a href="#">
                      <img src="../../../assets/images/twitpic-draw-logo.png" class="social-icon">
                  </a>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                  <a href="#">
                      <img src="../../../assets/images/instagram-draw-logo.png" class="social-icon">
                  </a>
              </div>
          </div><br>
          <div class="row byTurnOn-row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <span>this is by turnon</span>
              </div>
          </div>
          
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 footer-col">
          <span class="footer-txt">
              <b>bla bla bla bla bla bla bla blabla</b>
          </span>
      </div>
  </div>
</footer>
