.toolTip-sec{
    margin-top: 12em;
    margin-bottom: 5em;
}
.toolBtn{
    
    border: 2px solid black;
   box-shadow: 5px 5px 5px #bbb;
    padding: 30px 40px 30px 40px;
    font-size: 15px;
    font-weight: 600;
    transition: 1s;
    
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #d51a8b;
    border: 2px solid violet;
}
.btn-default {
    color: #5b5c5d;
    background-color: #fff;
  
}
.btn-row-nav{
    margin-left: 10% !important;
    margin-right: 10% !important;
}
.row-arr{
    margin-top: 3em;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    
    background-color:transparent !important;
    
}
/*...................arrow.................*/
.arrow,
.arrow:before{
  position: absolute;
  left: 50%
}
.arrow{
    position: relative;
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #a679d2 solid;
  border-bottom: 2px #a679d2 solid;
}
  
.arrow:before{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #a679d2 solid;
  border-bottom: 1px #a679d2 solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
  
@keyframes arrow{
  0%{
      opacity: 1;
    }
    
  100%{
      opacity: 0;
    transform: translate(-10px, -10px)
}
    
}
/*..........carousel styling.............*/
.carousel-caption {
      
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #7a51a1;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    position:inherit !important;
}

/*........call button..........*/
.call{
    margin-top:3em;
}
.callBtn{
    border-radius: 18px;
    border: 1px solid violet;
    -webkit-box-shadow: 5px 5px 5px #bbb;
    box-shadow: 5px 5px 5px #bbb;
    padding: 10px 25px 10px 25px;
    font-size: 19px;
    font-weight: 500;
    transition: .5s;
}
.callBtn:hover{
   padding: 15px 30px 15px 30px;
   background-color: #ee82ee33;
    color:#7a51a1;
}
 /*.fourth section first card (why us)..*/
 .header-proChoice{
	font-size: 30px;
	font-weight: 600;
	color: brown;
	margin: 15px;
}
 .card-row{
    margin-top: 3em;
}
.card-col-img{
    border-radius: 15px;
    z-index: 2;
}
.card-col-text{
    position: relative;
    text-align: center;
    
}
.card-text{
    margin-top: 2em;
}
.fifth-sec{
    margin-top: 5em;
}
.forth-sec{
    margin-top: 5em;
}
.card-img{
    height: 300px;
}
.head{
    margin-bottom: 2em;
}
@media (max-width:991px){
    .toolBtn{
        padding: 25px 35px 25px 35px;
        font-size: 14px;
   }
}
@media(max-width:920px){
    .toolBtn{
        padding: 25px 25px 25px 25px;
        font-size: 13px;
   }
}
@media(max-width:795px){
    .toolBtn{
        padding: 25px 20px 25px 20px;
        font-size: 13px;
   }
}
@media(max-width:745px){
    .toolBtn{
        padding: 25px 12px 25px 12px;
        font-size: 13px;
   }
}
@media(max-width:655px){
    .toolBtn{
        padding: 20px 8px 20px 8px;
        font-size: 13px;
   }
}
@media(max-width:601px){
    .toolBtn{
        padding: 20px 6px 20px 6px;
        font-size: 13px;
   }
}
@media(max-width:528px){
    .toolBtn{
        padding: 18px 4px 18px 4px;
        font-size: 11px;
   }
}
@media(max-width:450px){
    .toolBtn{
        padding: 16px 2px 16px 2px;
        font-size: 10px;
   }
}

