.toolTip-sec{
    margin-top: 12em;
    margin-bottom: 5em;
}
.toolBtn{
    border-radius: 19px;
    border: 1px solid violet;
    box-shadow: 5px 5px 5px #bbb;
}
/*..........carousel styling.............*/
.carousel-caption {
      
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #7a51a1;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    position:inherit !important;
}

/*........call button..........*/
.call{
    margin-top:3em;
}
.callBtn{
    border-radius: 18px;
    border: 1px solid violet;
    -webkit-box-shadow: 5px 5px 5px #bbb;
    box-shadow: 5px 5px 5px #bbb;
    padding: 10px 25px 10px 25px;
    font-size: 19px;
    font-weight: 500;
}

 /*.fourth section first card (why us)..*/
 .header-proChoice{
	font-size: 30px;
	font-weight: 600;
	color: brown;
	margin: 15px;
}
 .card-row{
    margin-top: 3em;
}
.card-col-img{
    border-radius: 15px;
    z-index: 2;
}
.card-col-text{
    position: relative;
    text-align: center;
    
}
.card-text{
    margin-top: 2em;
}
.fifth-sec{
    margin-top: 5em;
}
.forth-sec{
    margin-top: 5em;
}
.card-img{
    height: 300px;
}
.head{
    margin-bottom: 2em;
}
