<section class="container first-section text-center">
  <div class="header">
    <span class="header-txt" translate>Help</span>
  </div>
  <div>
    <p translate>How</p>
  </div>
  
</section>
<hr>
<section class="container second-section">
    <h2 class="header-txt text-center" translate>Factory</h2>
  <div class="row">
    <div class="col-md-5 col-xs-5 col-sm-5">
        <h4 class="header-sec-txt" translate>Capital</h4>
        <p>
        <span class="txt-head" translate>Address</span>:<span translate>firstAddress</span><br> 
        <span class="txt-head" translate>Tel</span>:  +203 0000000 - <span class="txt-head" translate>Fax</span>: +203 0000000 <br>
        <span class="txt-head"translate>e-mail</span>:<u> info@Capital-coating.com</u>
        </p>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2">
      <hr class="ver-hr">
    </div>
    <div class="col-md-5 col-xs-5 col-sm-5 op-hrs">
      <div class="right-col">
        <span class="op-hrs-txt" translate>OpHrs</span>:<span translate>Date</span><br><br>
        <span class="op-hrs-txt" translate>Inq</span>:<u>Export@capital-coating.com</u> 
      </div> 
    </div>
  </div>
</section>
<hr>
<section class="container third-section">
    <h2 class="header-txt text-center" translate>Find</h2>:
    <div class="row map-row">
      <div id="address-col" class="col-md-6">
        <span class="txt-head" translate>Cairo</span>:
        <p>
           <span translate>secondAddress</span><br>
            <span translate>Tel</span>: +203 0000000 - <span translate>Fax</span>: +203 0000000
        </p>
        <span class="txt-head" translate>Minoufia</span>:
        <p>
            <span translate>thirdAddress</span><br>
            <span translate>Tel</span>: +203 0000000 - <span translate>Fax</span>: +203 0000000
            
        </p>
        <span class="txt-head" translate>Gharbia</span>:
        <p>
            <span translate>forthAddress</span><br>
            <span translate>Tel</span>:  +203 0000000 - <span translate>Fax</span>: +203 0000000
            
        </p>
        <span class="txt-head" translate>Bihira</span>:
        <p>
          <span translate>fifthAddress</span><br> 
          <span translate>Tel</span>: +203 0000000 - <span translate>Fax</span>: +203 0000000
            
        </p>
      </div>
      <div class="col-md-6">
        <agm-map [latitude]="lat1" [longitude]="lng1">
          <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
        </agm-map>
      </div>
    </div>
</section>
<hr>
<section class="container forth-section text-center">
    <h2 class="header-txt" translate>Apply</h2>:
    <div class="hire">
      <span translate>Offer</span>:<u>HR@capital-coating.com</u>
    </div>
</section>
