<section class="container first-section text-center">
  <div class="header">
    <span class="header-txt">How Can We Help You ?</span>
  </div>
  <div>
    <p>We would love to hear from you, discuss your business needs, and answer any questions you may have.</p>
  </div>
  
</section>
<hr>
<section class="container second-section">
    <h2 class="header-txt text-center">Factory and headquarters</h2>
  <div class="row">
    <div class="col-md-5 col-xs-5 col-sm-5">
        <h4 class="header-sec-txt">Capital international for coatings</h4>
        <p>
        <span class="txt-head">Address:</span>  2th industrial zone, New Borg El Arab, Alexandria, Egypt.<br> 
        <span class="txt-head">Tel:</span>  +203 0000000 - <span class="txt-head">Fax:</span> +203 0000000 <br>
        <span class="txt-head">Send e-mail to:</span><u> info@Capital-coating.com</u>
        </p>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2">
      <hr class="ver-hr">
    </div>
    <div class="col-md-5 col-xs-5 col-sm-5 op-hrs">
      <div class="right-col">
        <span class="op-hrs-txt"> Operating Hours:</span> Sunday -Thursday: 8:00am – 05:00Pm<br><br>
        <span class="op-hrs-txt">If you have an inquiry about our products kindly Send e-mail to:</span><u>Export@capital-coating.com</u> 
      </div> 
    </div>
  </div>
</section>
<hr>
<section class="container third-section">
    <h2 class="header-txt text-center">Find our local stores:</h2>
    <div class="row map-row">
      <div class="col-md-6">
        <span class="txt-head">Cairo:</span>
        <p>
            9 Arafa st. from Ali Basha st. Ain Shams<br>
            Tel: +203 0000000 - Fax: +203 0000000
        </p>
        <span class="txt-head">Minoufia :</span>
        <p>
            Shahid rabie Al Azab St. – shebin El Koom<br>
            Tel: +203 0000000 - Fax: +203 0000000
            
        </p>
        <span class="txt-head">Gharbia:</span>
        <p>
            3 Atifa El hawary St. – Tanta 2nd district <br>
            Tel: +203 0000000 - Fax: +203 0000000
            
        </p>
        <span class="txt-head">Bihira:</span>
        <p>
            Ekhlas st. Khaled restaurant, behind Sadr hospital- Damanhour <br> 
            Tel: +203 0000000 - Fax: +203 0000000
            
        </p>
      </div>
      <div class="col-md-6">
        <agm-map [latitude]="lat1" [longitude]="lng1">
          <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
        </agm-map>
      </div>
    </div>
</section>
<hr>
<section class="container forth-section text-center">
    <h2 class="header-txt ">Apply for a job</h2>
    <div class="hire">
      <p>We aim to hire the best people for the job and to encourage them to develop personally and professionally,<br>
       kindly send your CV  to <u>HR@capital-coating.com</u> </p>
    </div>
</section>
