<section class="container first-section text-center">
  <span class="header-research" translate>Research</span>
  <div class="row first-row">
    <div class="col-md-7">
       <p class="first-paragraph" translate>paraOne</p>
      <p class="second-paragraph" translate>paraTwo</p>
      <p class="third-paragraph" translate>paraFour</p>
      
      <p class="fifth-paragraph" translate>paraFive</p>
      <p class="sixth-paragraph" translate>paraSix</p>
    </div>
    <div class="col-md-5">
      <img src="../../../assets/images/vga.png" class="img-responsive first-img">
    </div>
  </div>
</section>
<hr class="container">
<section class="container second-section text-center">
  <span class=" header-research " translate>Focus</span>
  <div class="row first-row">
    <div class="col-md-5">
      <img src="../../../assets/images/vga.png" class="img-responsive first-img">
    </div>
    <div class="col-md-7">
      <ul id="un-list" class="list">
        <li translate>itemOne</li>
        <li translate>itemTwo</li>
        <li translate>itemThree</li>
        <li translate>itemFour</li>
        <li translate>itemFive</li>
        <li translate>itemSix</li>
        <li translate>itemSeven</li>
      </ul>
      <p class="paraSeven" translate>paraSeven</p>
    </div>
  </div>
</section>
<hr class="container">
<section class="container third-section text-center">
  <span class="header-research " translate>Inno</span>
  <div class="row first-row">
    <div class="col-md-7">
      <p class="paraEight" translate>paraEight</p>
    </div>
    <div class="col-md-5">
      <img src="../../../assets/images/vga.png" class="img-responsive first-img">
    </div>
  </div>
</section>
<hr class="container">
<section class="container forth-section text-center">
  <span class="header-research " translate>productDev</span>
  <div class="col-md-5">
      <img src="../../../assets/images/vga.png" class="img-responsive first-img">
  </div>
  <div class="col-md-7">
    <p class="paraNine" translate>paraNine</p>
    <p class="paraTen" translate>paraTen</p>
    <p class="paraEleven" translate>paraEleven</p>
    <p class="paraTwelve" translate>paraTwelve</p>
    <p class="paraThr" translate>.</p>
  </div>

</section>
